body{
    background-color: aqua;
}
.invoice_head{
    background-color: antiquewhite;
    padding: 10px;
}
.menu_invoice{
    text-decoration: underline;
    text-align: center;
    background-color: lightblue;
    width: 100%;
}
.invoice_form{
    background-color: aquamarine;
    padding: 2px;
    padding-top: 20px;
}
.company_logo{
    float: right;
    padding-right: 5%;
}
.company_logo a{
    text-decoration: none;
    color:navy;
}
h2{
    text-decoration: underline;
    color: black;
    font-size: medium;
}
.info{
    padding: 10px;
    background-color: lightblue;
}
.space_1{
    background-color: cadetblue;
    padding: 10px;
}
.invoice_particular{
    background-color: burlywood;
    padding: 30px;
}
.space_2{
    background-color:cadetblue ;
    padding: 10px;
    
}
h3{
    text-decoration: underline;
    color:black;
    border-color: brown;
    font-size: medium;
}
.product{
padding: 10px;
background-color:lightblue;
}
.print_page{
    background-color: paleturquoise;
    padding: 20px;
    float: right;
}
